<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.teamb.model.Comm">

<insert  id = "createRoom" parameterType="ChatRoomDTO">
insert into ChatRoom values
((chatroom_seq.nextval,#{comm_memberNum},#{roomName})
</insert>


<select id ="isRoom" parameterType="ChatRoomDTO" resultType = "ChatRoomDTO">
select * from ChatRoom WHERE comm_memberNum = #{comm_memberNum}
</select>

<insert id = "insertMessage" parameterType="ChatMsgDTO">
insert into chat_msg
values (chatMsg_seq.nextval,#{comm_memberNum}, #{comm_nickname}, #{chatroom_id}, #{msgSender},
 #{msgReceiver}, #{msgContent}, #{receiver_nickname},0)
</insert>

<select id = "getProfile" resultType = "int">
select comm_profilenam from comm_member WHERE comm_memberNum = #{comm_memberNum}
</select>

<select id = "getNickName" resultType = "String">
select comm_nickname from comm_member where comm_nickname = #{comm_nickname}
</select>

<select id = "getMessageList" resultType = "ChatMsgDTO">
select m.* , comm_memberNum, comm_profilenam from chat_msg m left outer join comm_member u on m.msgSender = u.comm_memberNum where chatroom_id = #{chatroom_id}

</select>

<select id = "getRoomList" resultType = "ChatRoomDTO">
select * from  ChatRoom where comm_memberNum = #{comm_memberNum}
</select>


<update id ="updateReadTime">
update chat_msg set msgReadTime = NOW() where comm_memberNum = #{comm_memberNum}
AND msgReadTime = msgSendTime and msgSender = comm_memberNum = #{comm_memberNum};
</update>
<update id ="updateReadTimeTutor">
update chat_msg setmsgReadTime = NOW() where comm_memberNum = #{comm_memberNum}
AND msgReadTime = msgSendTime and msgSender = #{comm_memberNum};

</update>


<select id = "getUnReadCount" resultType = "int">

select count(*) from chat_msg where comm_memberNum = #{comm_memberNum} 
AND msgReadTime = msgSendTime and msgSender = #{comm_memberNum};

</select>


<select id = "getAllCount" resultType = "int">
select count(*) from  chat_msg WHERE (comm_memberNum = #{comm_memberNum} 
and  msgReadTime = msgSendTime and msgSender !=  #{comm_memberNum} ) or ( comm_memberNum = # #{comm_memberNum} 
and msgReadTime = msgSendTime and msgSender != #{comm_memberNum}); 

</select>
</mapper>
