<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<!-- 
	이	   름 : newsfeedMapper.xml
	개  발   자 : 이 여 진
	설	   명 : 커뮤니티 뉴스피드 관련
-->
 
<mapper namespace="com.teamb.model.Comm">

	<select id="getSearchComm_Member" resultType="Comm_MemberDTO">
		select comm_membernum, comm_profilename, comm_nickname from comm_member where comm_nickname like '%' || #{word} || '%'
	</select>
	
	<select id="newfeedList" resultType="CommboardDTO" parameterType="java.util.Map">
	select * from (select rownum rn, A.* from
	(select * from commboard order by boardNum desc)A)
	where rn between #{startRow} and #{endRow}
	</select> 

	<select id="look_newfeedList" resultType="CommboardDTO" parameterType="java.util.Map">
		select * from (select rownum rn, A.* from
	(select * from commboard where look = #{look} or look = '전체공개' or look ='전체공개,회원공개' order by boardNum desc)A)
	where rn between #{startRow} and #{endRow} 
	</select>
	
	<select id="alone_look_newfeedList" resultType="CommboardDTO" parameterType="java.util.Map">
		select * from (select rownum rn, A.* from
	(select * from commboard where look = #{look} or look = '전체공개' or look ='전체공개,회원공개' or look='비공개' and comm_memberNum=#{comm_memberNum}  
	 order by boardNum desc)A)
	where rn between #{startRow} and #{endRow} 
	</select>

	<select id="getNewsCount" resultType="int">
	select count(*) from commboard
	</select>

</mapper>
