<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.teamb.model.Comm">
	
    <!-- 회원가입 mapper -->
    <!-- <insert id="insertMember" parameterType="B4_memberDTO">
     insert into Comm_member values
     (member_num.nextval,#{profile_name},#{profile_size},
     #{name},#{gender},#{id},#{passwd},#{email},
     #{birth_y},#{birth_m},#{birth_d},#{hp1},#{hp2},#{hp3},#{intro},0)
    </insert> -->
  
  	<!-- <select id="getMember" parameterType="int" resultType="B4_memberDTO">
		select * from B4_member where memberNum = #{memberNum}
	</select> -->
	
	<!-- <update id="updateMember" parameterType="B4_memberDTO" >
		update B4_member set passwd=#{passwd}, 
		email=#{email}, hp1=#{hp1}, hp2=#{hp2}, hp3=#{hp3},intro=#{intro}
			where memberNum=#{memberNum}
	</update> -->
  
	<!-- <delete id="deleteMember" parameterType="int">
		delete from B4_member where memberNum = #{memberNum}
	</delete>   -->
  
  
    <!-- 로그인 관련 mapper -->
   <!--  <select id = "loginOk" parameterType="b4_memberDTO"  resultType="String">
        select passwd from B4_member where id=#{id}
    </select>    
    
    <select id="getMemberNum" parameterType="b4_memberDTO" resultType="int">
    	select memberNum from B4_member where id=#{id}
    </select>

	<select id="memberNum" parameterType="b4_memberDTO" resultType="String">
		select memberNum from B4_member where id=#{id}
	</select>
 -->
    <!-- 아이디 찾기 관련 mapper -->
    <!-- <select id = "searchMember_id" parameterType="java.util.Map" resultType="String">
        select id from B4_member where name=#{name} and email=#{email}
    </select>
    
    비밀번호 찾기 관련 mapper
    <select id = "searchMember_pw" parameterType="java.util.Map" resultType="String">
        select passwd from B4_member where name=#{name} and id=#{id} and email=#{email}
    </select> -->
    
</mapper>