<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ezen.b4.book.model">
    
    <select id="listFriend" resultType="CommFriendDTO">
		select * from comm_friend
	</select>
	
    <insert id="insertFriend" parameterType="CommFriendDTO">
     insert into comm_friend values
     (B4_friend_num.nextval,#{memberNum},#{f_profile_name},#{f_profile_size},
     #{f_name},#{f_id},#{f_email})
    </insert>
  
  	<select id="getFriend" parameterType="int" resultType="CommFriendDTO">
		select * from comm_friend where friendNum = #{friendNum}
	</select>
  
	<delete id="deleteFriend" parameterType="int">
		delete from comm_friend where friendNum = #{friendNum}
	</delete>  
    
</mapper>