<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
	이	   름 : CommTogetherMapper.xml
	개  발   자 : 최 인 아
	설	   명 : 투게더게시판
 -->
 
 <mapper namespace="com.team.model.Comm">
 
	 <select id="getTogether" resultType="CommTogetherDTO" parameterType="int">
		select * from together where togetherNum=#{togetherNum}
	</select>

	<select id="listTogether" resultType="CommTogetherDTO">
		select * from together order by togetherNum desc
	</select>
	
	<select id="allListTogether" resultType="CommTogetherDTO">
		select * from together order by togetherNum desc
	</select>
 
 	<insert id="writeTogether" parameterType="CommTogetherDTO">
	    insert into together values(#{comm_memberNum}, together_num.nextval,
	    #{ttitle}, #{temail}, #{tcontent}, sysdate, 0)
	</insert>
	
	<select id="deleteTogether" parameterType="int" resultType="int">
		delete from together where togetherNum=#{togetherNum} 
	</select>
	
	<select id="all_deleteTogether" parameterType="int" resultType="int">
		delete from together where comm_memberNum=#{comm_memberNum} 
	</select>
	
	<update id="updateTogether" parameterType="CommTogetherDTO">
		update together set ttitle=#{ttitle}, temail=#{temail}, tcontent=#{tcontent} where togetherNum=#{togetherNum}
	</update>
	
	<update id="plustReadcount" parameterType="int">
		update together set treadcount=treadcount+1 where togetherNum=#{togetherNum}
	</update>
	
	<select id="getCountTogether" resultType="Integer">
		select count(*) from together
	</select>
	
 </mapper>