<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.teamb.model.Comm">
	<select id="getBoard" resultType="CommboardDTO" parameterType="int">
		select * from B4_board where boardNum=#{boardNum}
	</select>
	
	<select id="listBoard" resultType="CommboardDTO">
		select * from B4_board where memberNum=#{memberNum} order by boardNum desc
	</select>
	
	<select id="allListBoard" resultType="CommboardDTO">
		select * from B4_board
	</select>
	
	<insert id="writeBoard" parameterType="CommboardDTO">
		insert into B4_board values(#{memberNum}, commboard_num.nextval, #{file_name}, #{file_size}, 
		#{content}, #{tag}, #{loc},0,0,0, 0, 0, 0, 0) 
	</insert>
	
	<update id="plusReadcount" parameterType="int">
		update B4_board set readcount=readcount+1 where boardNum=#{num}
	</update>

	<select id="isLike" resultType="int" parameterType="java.util.Map">
		select likecount from B4_count where boardNum=#{bNum} and memberNum=#{mNum}
	</select>
	
	<update id="plusIsLikecount" parameterType="int">
		update B4_count set likecount=likecount+1 where boardNum=#{bNum} and memberNum=#{mNum}
	</update>
	
	<update id="plusLikecount" parameterType="int">
		update B4_board set likecount=likecount+1 where boardNum=#{bNum}
	</update>
	
	<update id="minusLikecount" parameterType="int">
		update B4_board set likecount=likecount-1 where boardNum=#{bNum}
	</update>
	
	<select id="deleteBoard" parameterType="int" resultType="int">
	delete from B4_board where boardNum=#{boardNum}
</select>
</mapper>