<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
	이	   름 : CommReplyMapper.xml
	개  발   자 : 최 인 아
	설	   명 : 메인 페이지
 -->
  
<mapper namespace="com.team.model.Comm">

	<select id="getReply" resultType="CommReplyDTO" parameterType="int">
		select * from reply where replyNum=#{replyNum}
	</select>

	<select id="listReply" resultType="CommReplyDTO">
		select * from reply where boardNum=#{boardNum}
	</select>
	
	<insert id="writeReply" parameterType="CommReplyDTO">
	    insert into reply values(#{boardNum}, reply_num.nextval,
	    #{rcontent}, #{rwriter}, sysdate, #{rpasswd})
	</insert>
	
	<select id="deleteReply" parameterType="int">
		delete from reply where replyNum=#{replyNum}
	</select>

</mapper>