<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.teamb.model.Comm">
	<insert id="warnPro" parameterType="CommWarnDTO">
     insert into warn values(#{boardNum},warn_num.nextval)
    </insert>
</mapper>