<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.teamb.model.Comm">
	<insert id="warnPro" parameterType="CommWarnDTO">
     insert into warn values(#{boardNum},#{comm_memberNum},warn_num.nextval,#{wname})
    </insert>
    
    <select id="listWarn" resultType="CommWarnDTO">
		select * from warn order by warnNum desc
	</select>
	
	<select id="deleteWarn" parameterType="int" resultType="int">
		delete from warn where warnNum=#{warnNum} 
	</select>
	
	<select id="all_deleteWarn" parameterType="int" resultType="int">
		delete from warn where comm_memberNum=#{comm_memberNum}
	</select>
</mapper>