<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<!-- 
	이	   름 : CommBoardMapper.xml
	개  발   자 : 최 인 아
	설	   명 : 보드게시판
-->
 
<mapper namespace="com.teamb.model.Comm">

	<select id="getBoard" resultType="CommboardDTO" parameterType="int">
		select * from commboard where boardNum=#{boardNum}
	</select>
	
	<select id="listBoard" resultType="CommboardDTO">
		select * from commboard where comm_memberNum=#{comm_memberNum} order by boardNum desc
	</select>
	
	<select id="allListBoard" resultType="CommboardDTO">
		select * from commboard
	</select>
	
	<select id="look_allListBoard" resultType="CommboardDTO">
		select * from commboard where look=#{look}
	</select>
	
	<insert id="writeBoard" parameterType="CommboardDTO">
		insert into commboard values(#{comm_memberNum},commboard_num.nextval, #{file_name}, #{file_size}, 
		#{content}, #{tag},0,0,0,0,0,#{look}) 
	</insert>
	
	<select id="deleteBoard" parameterType="int" resultType="int">
		delete from commboard where boardNum=#{boardNum} 
	</select>
	
	<select id="deleteAllBoard" parameterType="int" resultType="int">
		delete from commboard where comm_memberNum=#{comm_memberNum}
	</select>
	
	<update id="updateBoard" parameterType="CommboardDTO">
		update commboard set content=#{content} where boardNum=#{boardNum}
	</update>

</mapper>