<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.teamb.model.Comm">
    
    <select id="comm_listFriend" resultType="Comm_FriendDTO">
		select * from comm_friend
	</select>
	
    <insert id="comm_insertFriend" parameterType="Comm_FriendDTO">
     insert into comm_friend values
     (#{comm_memberNum},comm_friend_num.nextval)
    </insert>
  
  	<select id="comm_getFriend" parameterType="int" resultType="Comm_FriendDTO">
		select * from comm_friend where friendNum = #{friendNum}
	</select>
  
	<delete id="comm_deleteFriend" parameterType="int">
		delete from comm_friend where friendNum = #{friendNum}
	</delete>  
    
</mapper>