<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.hotelMapper">
		
	<select id="hotelList" resultType="hotelDTO">
		select * from hotel order by no desc
	</select>
	
	<select id="hotelCateList" parameterType="java.util.Map" resultType="hotelDTO">
		select * from (select rownum rn, A.* from 
		(select * from hotel where category = #{category} order by no desc)A)
		where rn between #{start} and #{end} and category = #{category} order by no desc
	</select>
	
	<select id="hotelMain" parameterType="java.util.Map" resultType="hotelDTO">
		select * from (select rownum rn, A.* from 
		(select * from hotel order by no desc)A)
		where rn between #{start} and #{end} order by no desc
	</select>
	
	<select id="getCount" resultType="Integer">
		select count(*) from hotel
	</select>
	
	<select id="getCountCate" parameterType="String" resultType="int">
		select count(*) from hotel where category = #{category}
	</select>
	
	<select id="getCountSearch" parameterType="String" resultType="int">
		select count(*) from hotel where name like #{search}
	</select>
	
	<select id="searchHotelList" parameterType="java.util.Map" resultType="hotelDTO">
		select * from (select rownum rn, A.* from 
		(select * from hotel where name like #{search} order by no desc)A)
		where rn between #{start} and #{end} and name like #{search} order by no desc
	</select>
	
	
	<insert id="insertHotel" parameterType="HotelDTO">
		insert into hotel
		values(hotel_seq.nextval,#{name},#{category},#{location},#{hp},#{checkin},
				#{content},#{parking},sysdate,#{filename},#{filesize},0)
	</insert>

	<delete id="deleteHotel" parameterType="int">
		delete from hotel where
		no = #{no}
	</delete>

	<update id="updateHotel" parameterType="HotelDTO">
		update hotel 
		set category = #{category} , location = #{location} , hp = #{hp} ,
						checkin = #{checkin} , content = #{content} ,
						parking = #{parking} , filename = #{filename} 
		where no = #{no}
	</update>

	<select id="getHotel" parameterType="int" resultType="hotelDTO">
		select *
		from hotel 
		where no = #{no}
	</select>

	<update id="increaseRead" parameterType="int">
		update hotel 
		set	readcount = readcount+1 
		where no = #{no}
	</update>
	
	<!-- room sql -->
	
	<select id="hotelroomList" parameterType="int" resultType="RoomDTO">
		select * from room where h_id = #{h_id}
	</select>
	
	<select id="getHotelRoom" parameterType="int" resultType="RoomDTO">
		select * from room where id = #{id}
	</select>
	
	<select id="checkroomdate" parameterType="java.util.Map">
		select count(*) from roomdate
		where startdate between #{start} and #{end}
	</select>
	
	<insert id="insertRoom" parameterType="RoomDTO">
		insert into room
		values(room_seq.nextval,#{name},#{maxpersons},#{dayprice},#{endprice}
				,#{content},#{filename},#{filesize},#{h_id})
	</insert>
	
	<delete id="deleteRoom" parameterType="int">
		delete from room
		where id = #{id}
	</delete>
	
	<update id="updateRoom" parameterType="RoomDTO">
		update room
		set name = #{name} , maxpersons = #{maxpersons} , dayprice = #{dayprice}
					, endprice = #{endprice} , content = #{content} , filename = #{filename}
		where id = #{id}
	</update>
	
	

	<select id="getRoomdate" parameterType="int" resultType="RoomDateDTO">
		select * from roomdate where no = #{no}
	</select>

</mapper>












