<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<!-- 
	이	   름 : Post_TagMapper.xml
	개  발   자 : 이여진
	설	   명 : 해시태그 + 포스트 연결
-->
 
<mapper namespace="com.teamb.model.Comm">

	<insert id="insertPostTag" parameterType="java.util.Map">
		insert into post_tag values(#{boardNum},#{tagId})
	</insert>
	
	<select id="getPostTagId" resultType="Post_TagDTO">
		select * from post_tag where boardNum=#{boardNum}
	</select>
	
	<select id="getTagSearch" resultType="Post_TagDTO">
		select * from post_tag where tagId=#{tagId}
	</select>
	
	<select id="deletePostTag" parameterType="int">
		delete from post_tag where boardNum=#{boardNum}
	</select>

</mapper>